이 파일은 원본 문제 데이터의 키워드 분석을 위한 파일입니다.

# Import

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Load the dataset

In [2]:
dataset = pd.read_csv('problems.csv')
dataset

,Problem,Print,Input,List,Tuple
0,Write a Python program to print the following ...,print,NaN,NaN,NaN
1,Write a Python program to get the Python versi...,print,NaN,NaN,NaN
2,Write a Python program to display the current ...,print,NaN,NaN,NaN
3,Write a Python program which accepts the radiu...,print,input,NaN,NaN
4,Write a Python program which accepts the user'...,print,input,NaN,NaN
5,Write a Python program which accepts a sequenc...,print,NaN,list,tuple
6,Write a Python program to accept a filename fr...,print,NaN,list,NaN
7,Write a Python program to display the first an...,print,NaN,list,NaN
8,Write a Python program to display the examinat...,print,NaN,NaN,NaN
9,Write a Python program that accepts an integer...,print,input,NaN,NaN

# TF-IDF

In [3]:
# TF-IDF Function
# 문제 데이터, 문제 분야 입력 -> 상위 num개의 키워드 반환
#
# Example
# result = tf_idf(dataset, 'Type', num=10)
# result -> 해당 분야 문제의 상위 num개의 키워드
#
def tf_idf (dataset, type, num=10):
  # 해당 Type의 문제 데이터셋 추출
  problem_data = dataset[['Problem', type]].dropna()['Problem']

  # 모델 생성
  tfidv = TfidfVectorizer().fit(problem_data)

  # 키워드 목록 추출
  word_id_list = sorted(tfidv.vocabulary_.items(),
                      key=lambda x: x[1], reverse=False)
  word_list = [x[0] for x in word_id_list]

  # TF-IDF 결과 데이터
  result = pd.DataFrame(tfidv.transform(problem_data).toarray(),
                             columns = word_list)
  
  # 상위 NUM개의 키워드 반환
  return result.sum().sort_values(ascending=False)[:num]

In [4]:
# 테스트를 위해 print 문제 사용
result = tf_idf(dataset, 'Print')
# 테스트 결과 출력
result

the        2.017835
python     1.546947
and        1.434828
program    1.399322
write      1.399322
to         1.386799
display    1.039546
from       0.904596
of         0.872723
user       0.813216
dtype: float64

In [5]:
# 추가 테스트
result2 = tf_idf(dataset, 'Input', num=5)
result2

the        0.847806
and        0.639342
accepts    0.501265
program    0.501265
python     0.501265
dtype: float64